// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=PT+Serif');



#entry-window{
  margin-top: 2em;
  padding: 1em;
  border-radius: 0 5px 5px 0;
  background-image: url("http://i.imgur.com/WqWdCYs.png");
  font-family: "PT Serif", serif;
}
