<div class = "navbar-fixed">
  <nav class = "z-depth-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Reflect</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Log In", new_session_path, class: "waves-effect waves-light btn" %></li>
      </ul>
    </div>
  </nav>
</div>
